{
    "extends": [
        "react-app",
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier",
        "react"
    ],
    "rules": {
        "react/prop-types": "warn"
    }
}