node_modules/
.DS_Store

example_*

tmp

build/
mongodb/
crescent-initial.simg
crescent-v3-july9.simg

package-lock.json

results/*
minio/download/*
minio/upload/*
SEURAT/
frontend_seurat_inputs.json
results/
