node_modules/
.DS_Store

example_*
*.pyc

tmp

build/
mongodb/
*.simg


/results
minio/download/
minio/upload/
SEURAT/
frontend_seurat_inputs.json
# results/
wes/logs/
wes/workflows/

.env
nginx/certs/
nginx/errors/
old_builds/*

**/.vscode

graphene/src/schema/minioIP.txt

neo4j/
node_modules
react/node_modules